.Header {
  top: 0;
  position: -webkit-sticky;
  width: fit-content;
  min-width: 100%;
  height: 13vh;
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  flex-direction: row;
  position: sticky;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px #dddddd;
}

.titulo {
  font-family: "Intro", sans-serif;
  margin-left: 25px;
  color: #e00000;
  font-size: 40px;
  font-weight: bold;
}
