.Header {
  width: fit-content;
  min-width: 100%;
  height: 17vh;
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  flex-direction: row;
  position: sticky;
  background-color: rgb(224, 224, 224);
  font-family: "Manrope", sans-serif;
}

.titulo {
  font-family: "Intro", sans-serif;
  margin-left: 25px;
  color: rgb(218, 0, 0);
  font-size: 40px;
  font-weight: bold;
}
