.Botao {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 1rem;
  color: rgb(0, 0, 117);
  font-size: 17px;
  font-weight: 700;
  background-color: white;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  width: 100%;
  box-shadow: 2px 3px 3px #b4b4b4;
  font-family: "Manrope", sans-serif;
}

.button:hover {
  color: white;
  background-color: rgb(5, 0, 105);
}
