.Footer {
  width: fit-content;
  min-width: 100%;
  height: fit-content;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  flex-direction: row;
  position: relative;
  background-color: #db000f;
  color: #fff;
  font-size: 20px;
  font-family: "Manrope", sans-serif;

  list-style-type: none;
}

.info {
  margin-left: -10vw;
  font-size: 14px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 400px;
  list-style-type: none;
  margin-bottom: 15px;
  margin-top: 15px;
}

.nome-info {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.info ul {
  margin: 5px;
}

.contato {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -5vw;
}

.contato ul {
  font-size: 18px;
}

.socials {
  margin-right: 0;
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.socials li {
  list-style-type: none;
  appearance: none;
}

.socials ul {
  display: flex;
  list-style-type: none;
  appearance: none;
  margin: 25px;
}

.socials ul img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.socials ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  appearance: none;
  text-decoration: none;
}
